<head>
<script type="text/javascript" src="angular.js"></script>
<script src="http://cdn.jsdelivr.net/alasql/latest/alasql.min.js"></script>
<script type="text/javascript" src="xlsx.core.min.js"></script>

<script>
//var app = angular.module('App', []);

function MyCtrl($scope) {
  $scope.items = [{a:1,b:10},{a:2,b:20}];
  $scope.filename = "mydata.xlsx";

  $scope.doExportDesktop = function() {
   alasql('SELECT * INTO XLSX("'+$scope.filename+'",{headers:true}) FROM ?',[$scope.items]);

  }
  $scope.doImportDesktop = function (event) {
    alasql('SELECT * FROM FILE(?,{headers:true})',[event],function(data){
      $scope.items = data;
      $scope.$apply();
    });
  }
  $scope.doImportServer = function (event) {
    alasql('SELECT * FROM FILE("'+$scope.filename+'",{headers:true})',[],function(data){
      $scope.items = data;
      $scope.$apply();
    })
  }
  $scope.addOne = function(){
    $scope.items.push({a:(Math.random()*10)|0,b:((Math.random()*10)|0)*10});
  }
  $scope.clearAll = function(){
    $scope.items = [];
//    $scope.$apply();
  };

  $scope.writeExisting = function() {
  // alasql('SELECT 1+2 INTO XLSX("'+$scope.filename+'",{sourcefilename:"'+$scope.filename+'", headers:true,range:"A6", sheetid:"one"})',[],function(){
   //});
    alasql('SELECT * INTO XLSX("'+$scope.filename+'",{sourcefilename:"'+$scope.filename+'", headers:true, sheetid: "one", range:"A10"}) FROM ?',[$scope.items],function(){
    });

  };

}

</script>
</head>
<body ng-app ng-controller="MyCtrl">

<h1>Angular.js+Alasql.js</h1>
    <label>Name:</label>
    <input type="text" ng-model="filename" placeholder="Enter a filename name here">
    <hr>
    <h1>Filename {{filename}}!</h1>
    <button ng-click='doImportServer()'>Import from Server</button>
    Import from Desktop:
    <input type="file" onchange='angular.element(this).scope().doImportDesktop(event)'/>
    <button ng-click='doExportDesktop()'>Export to Desktop</button>
    <button ng-click='addOne()'>Add one</button>
    <button ng-click='clearAll()'>Clear all</button>
    <button ng-click='writeExisting()'>Write into existing file</button>
    <ul>
   <li ng-repeat="item in items">
     {{item.a}} - {{item.b}}
   </li> 
    </ul>

</body>
